<form [formGroup]="stackForm" (ngSubmit)="stacksSearch()">
    <div class="border border-secondary rounded p-3">
        <div class="form-row">
            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                <label for="inputScore">Score</label>
                <input type="number" class="form-control" formControlName="score" id="inputScore">
            </div>
            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                <label for="inputSort">Sort</label>
                <select class="custom-select" formControlName="sort" id="inputSort">
                    <option value="activity">Activity</option>
                    <option value="votes">Votes</option>
                    <option value="creation">Creation</option>
                    <option value="hot">Hot</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                  </select>
            </div>
            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                <label for="inputLimit">Limit</label>
                <input *ngIf="stackForm.value.sort==='votes'" type="number" class="form-control" formControlName="limit" id="inputLimit">
                <input *ngIf="stackForm.value.sort!=='votes'" type="number" class="form-control" placeholder="Only sorting by 'Votes'!" disabled>
            </div>
            <div class="form-group col-lg-3 col-md-6 col-sm-12">
                <label for="inputTag">Tag*</label>
                <input type="text" class="form-control" formControlName="tag" id="inputTag">
            </div>
        </div>
        <div class="form-row">
            <div class="col text-center">
                <button [disabled]="!stackForm.valid" class="btn btn-success w-25">Search</button>
                <span class="d-block" *ngIf="!stackForm.valid">'Tag' is a required field!</span>
            </div>
        </div>

    </div>
</form>